# Created by venv; see https://docs.python.org/3/library/venv.html


# Entorno virtual
venv/
*.sqlite3

# Archivos de cache o migraciones temporales
__pycache__/
**/__pycache__/
*.pyc
*.pyo


# Base de datos local
db.sqlite3

# Carpeta de archivos estáticos generados
/staticfiles/
/static/
/media/

# Archivos de logs
*.log

# Configuración de tu IDE
.vscode/
.idea/

# Entorno de dotenv
.env
